.grid-container
  .sidebar
    .nameboard
      .nameholder
        %img#avatar.img-circle{src: 'images/yutafujii.jpg'}
        %h2 Yuta Fujii
        %h4 Full Stack Developer
      .contacts
        %ul
          %li
            %a{href: "https://github.com/YutaFujii0",target: :blank} <i class="fab fa-github-square"></i>
          %li
            %a{href: "https://www.linkedin.com/in/yuta-fujii-121484176/",target: :blank} <i class="fab fa-linkedin"></i>
          %li
            %a{href: "https://www.facebook.com/yuta.fujii.142",target: :blank} <i class="fab fa-facebook"></i>

    .lang-parent
      %span.language Ruby
      %span.language Ruby on Rails
      %span.language JavaScript
      %span.language HTML5
      %span.language haml
      %span.language CSS/SCSS
      %span.language SQL
      %span.language.studying AWS
      %span.language.studying React.js
      %span.language.studying Python

    .project-list
      %h3 Projects
      %ol
        %li Miru - Visualize menu
        %li lyfr - Publish a book(marketplace)
        %li CocktailBook - Write a recipe

  .card-summary.left
    %img.icon-summary{src: 'images/noun_Ship_975742.png'}
    .description
      %h3
        %span.l-red 3
        projects
      %h4 As a team leader / individual

  .card-summary.center
    %img.icon-summary{src: 'images/noun_code_1703083.png'}
    .description
      %h3
        %span.l-red +670
        hours
      %h4 Learning programming

  .card-summary.right
    %img.icon-summary{src: 'images/noun_finance_1504060.png'}
    .description
      %h3
        %span.l-red 3
        years
      %h4 Experience of finance(IBD)

  .products
    .product
      .product-body-image
        %img{src: 'images/pro03_miru.png'}

      .product-body-content
        %h2 Miru
        %ul
          %li= "#{"Concept".ljust(10)}: Visualize a foreign menu"
          %li= "#{"Mission".ljust(10)}: Eat like the local"
        %p Miru is the greatest app that visualize menus without translation. Miru helps every people to imagine meals in the restaurant overseas. We got motivated by the wish that everyone can decide what to order the same way as they do in their local country. Eat like the local.
        %a{href: "https://www.mirumenu.com/", target: :blank} Take a look

    .product
      .product-body-image
        %img{src: 'images/pro03_miru.png'}

      .product-body-content
        %h2 lyfr
        %ul
          %li= "#{"Concept".ljust(10)}: Publish a short book"
          %li= "#{"Mission".ljust(10)}: Marketplace for writers and readers"
        %p lyfr offers the marketplace between writers and readers. This enables especially for writers to publish their short story with ease.
        %a{href: "https://rails-bookstore-187.herokuapp.com/", target: :blank} Take a look

    .product
      .product-body-image
        %img{src: 'images/pro03_miru.png'}

      .product-body-content
        %h2 lyfr
        %ul
          %li= "#{"Concept".ljust(10)}: Publish a short book"
          %li= "#{"Mission".ljust(10)}: Marketplace for writers and readers"
        %p lyfr offers the marketplace between writers and readers. This enables especially for writers to publish their short story with ease.
        %a{href: "https://rails-bookstore-187.herokuapp.com/", target: :blank} Take a look
